// Archives Core Colour Palette

$green: rgba(0, 167, 134, 1);
$grey: rgba(179, 177, 177, 1);
$blk: rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$overprint: rgba(0,0,0,.35);


// Archives Secondary Colour Palette

$forest: rgba(48, 101, 78, 1); 		// Environment
$emerald: rgba(98, 139, 59, 1); 	// Education
$grass: rgba(175, 178, 89, 1); 		// Media
$citrine: rgba(241, 219, 127, 1); 	// Disasters
$amber: rgba(255, 176, 98, 1); 		// Arts & Culture
$blush: rgba(232, 171, 143, 1);		// Society
$coral: rgba(255, 126, 124, 1);		// Health
$ruby: rgba(206, 48, 48, 1); 		// Celebrations
$raspberry: rgba(221, 74, 116, 1);	// Entertainment
$sky: rgba(63, 173, 227, 1);		// Tech
$cobalt: rgba(15, 94, 160, 1);		// Business
$cloud: rgba(130, 169, 220, 1);		// Sport
$lavender: rgba(83, 97, 152, 1);	// Work
$violet: rgba(71, 57, 114, 1);		// Politics
$dusk: rgba(117, 80, 115, 1);		// Religion
$silver: rgba(141, 143, 143, 1);	// War & Conflict
$gold: rgba(181, 161, 108, 1);		// Commemoration
$bronze: rgba(150, 105, 77, 1);		// Lifestyle



